<script type="text/javascript" charset="utf-8">
  var hospitals = <%= @hospitals.to_json.html_safe %>;
</script>

<% @hospitals.each do |hospital| %>

<div class="box">
  <h3 class="hospitalName"><%= hospital[:name] %></h3>
  <p class="distance">- / -</p>
  <a target="_blank" href="#">
  <img id="hospital_<%= hospital[:cartodb_id] %>" class="map" src="http://maps.google.com/maps/api/staticmap?center=<%= hospital[:address] %>&zoom=8&size=240x150&sensor=false" />
  </a>
  <a class="phoneButton" href="tel:<%= hospital[:emergency_contact] %>"><span class="phone"><%= hospital[:emergency_contact] %><span></a>
  <div class="address">
    <%=  %>
    <p><%= hospital[:street] %>,</br>
    <%= "#{hospital[:postal_code]}, #{hospital[:city]}, #{hospital[:region]}" %><br/>
    Hospital regional</p>
  </div>
</div>

<% end %>
