<script type="text/javascript" charset="utf-8">
  hospitals = <%= @hospitals.to_json.html_safe %>;
</script>

<% @hospitals.each do |hospital| %>
  <div class="box">
    <h3 class="hospitalName"><%= hospital[:name] %></h3>
    <p class="distance">- / -</p>
    <a target="_blank" href="#">
    <div style="display:inline-block; margin:10px 0 0 0; width:243px;height:150px;border:1px solid #CCCCCC;" id="hospital_<%= hospital[:cartodb_id] %>"></div>
    </a>
    <a class="phoneButton" href="tel:<%= hospital[:emergency_contact] %>"><span class="phone"><%= hospital[:emergency_contact] %><span></a>
    <div class="address">
      <%=  %>
      <p><%= hospital[:street] %>,</br>
      <%= "#{hospital[:postal_code]}, #{hospital[:city]}, #{hospital[:region]}" %><br/>
      Hospital regional</p>
    </div>
  </div>
<% end %>
