<!DOCTYPE html>
<html>
<head>
  <title>NearHospitals</title>
  <%= stylesheet_link_tag 'reset','style' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= render 'shared/header'%>
<%= yield %>

</body>
</html>
